<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="center"></div>
    <img src="assets/landingImgs/welcomeText.png" id="centerText">
    <img src="assets/landingImgs/welcome.png" id="centerImg">
    <div id="circle"></div>
    <a href="https://letterboxd.com/zachbagley/" id="letterboxdSmall" onmouseenter="lbCenter()" onmouseleave="defaultCenter()"></a>
    <a href="resume" id="resumeSmall" onmouseenter="resumeCenter()" onmouseleave="defaultCenter()"></a>
    <a href="instagram" id="instagramSmall" onmouseenter="igCenter()" onmouseleave="defaultCenter()"></a>
    <a href="linkedin" id="linkedinSmall" onmouseenter="liCenter()" onmouseleave="defaultCenter()"></a>
    <a href="portfolio" id="portfolioSmall" onmouseenter="portCenter()" onmouseleave="defaultCenter()"></a>
    <a href="misc" id="miscSmall" onmouseenter="miscCenter()" onmouseleave="defaultCenter()"></a>
    <a href="facebook" id="facebookSmall" onmouseenter="fbCenter()" onmouseleave="defaultCenter()"></a>
    <a href="handshake" id="handshakeSmall" onmouseenter="hsCenter()" onmouseleave="defaultCenter()"></a>
    <img src="assets/landingImgs/solomon.png" id="solomon">
    <img src="assets/landingImgs/wolfgang.png" id="wolfgang">
    <img src="assets/landingImgs/solomon.png" id="solomon">
    <img src="assets/landingImgs/ether.png" id="ether">
    <img src="assets/landingImgs/solomon.png" id="solomon">
    <img src="assets/landingImgs/gordon.png" id="gordon">





</body>
</html>