<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.cdnfonts.com/css/roughtypewriter-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cmu-typewriter-text" rel="stylesheet">
    <title>Miscellaneous</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <h2 id="navMenuLabel" onclick="navToggle()">Menu</h2>
    <a href="/" id="navToHomeLabel">Home</a>
    <a href="/resume" id="navToResumeLabel">Resume</a>
    <a href="/portfolio" id="navToPortfolioLabel">Portfolio</a>
    <a href="/misc" id="navToMiscLabel">Misc.</a>
    <img src="assets/landingImgs/star.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <br><br>
    <h1 class="heading">Miscellaneous</h1>
    <p class="subSub"><i>This page is under construction. <br>
        Check back soon for updates!</i></p>
    <br>
    <hr>
    <br><br>
</div>
</body>
</html>