<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.cdnfonts.com/css/roughtypewriter-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cmu-typewriter-text" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <img src="assets/landingImgs/moon.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <br><br>
    <h1 class="heading">Portfolio</h1>
    <p class="subSub"><i>This page is under construction. <br>
        Check back soon for updates!</i></p>
    <br>
    <hr>
    <br>
    <h1 class="subHead"><a href="//provomentalhealth.org" class="link" style="color: black;">provomentalhealth.org</a></h1>
    <br>
    <p class="bodyText">
        INTEX is an abbreviation for "Integrated Experience," a project in which BYU Information Systems
        students are released from classes for a week to spend all their time on developing a web application.
        Over the course of four days, I and a team of 3 others spent about 70 hours each developing
        <a href="//provomentalhealth.org" class="link">provomentalhealth.org</a>. The web app is a tool for gethering and analyizing
        data regarding the relationship between social media usage and mental health.
    </p>
    <br>
    <hr>
    <br><br>
</div>
</body>
</html>