<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.cdnfonts.com/css/roughtypewriter-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cmu-typewriter-text" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <div id="menuLabel">Menu</div>
    <img src="assets/landingImgs/moon.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <br><br>
    <h1 class="heading">Portfolio</h1>
    <p class="subSub"><i>This page is under construction. <br>
        Check back soon for updates!</i></p>
    <br>
    <hr>
    <br>
    <h1 class="subHead"><a href="//intexgroup362024.azurewebsites.net" class="link" style="color: black;">LEGO Storefront Web App</a></h1>
    <p class="subSub" style="clear: both;"><i>INTEX Winter 2024 Project</i></p>
    <br>
    <p class="bodyText"><i>Note: I stopped paying for the <a href="//intexgroup362024.azurewebsites.net">
        shopbrickwell.com</a> domain, so the site is now at <a href="//intexgroup362024.azurewebsites.net">intexgroup362024.azurewebsites.net
        </a></i></p>
        <br>
    <p class="bodyText"><i>Another note: If something isn't working, give it a minute and try again. Sometimes the databases take a 
        moment to wake up - Azure really doesn't like my low budget :(
    </i></p>
    <br>
    <p class="bodyText">
        INTEX is an abbreviation for "Integrated Experience," a project in which BYU Information Systems
        students are released from classes for a week during each semester of their junior year and spend 
        all their time on developing a web application on a team of four students.
        In my most recent INTEX, my team was tasked with creating a storefront web app for a fictional
        LEGO influencer, Aurora Brickwell. Originally hosted at shopbrickwell.com, our site is an ASP .NET 
        MVC Core application hosted on Microsoft Azure.
        Developed in about 80 hours over the course of four days, our app was built using agile and
        SCRUM-based project management methodologies and adheres to industry standard usability heuristics.
        We began by outlining the project's requirements with sequence, activity, and class diagrams and 
        built a <a href="https://www.figma.com/proto/TeI3gXuFE9nmYJUQaFS20B/INTEX-II?node-id=2005-45043&starting-point-node-id=2005%3A45043&t=UxNrBzysWNce4ES1-1">
        Figma prototype</a> based on those designs.
        Some features of the finished product include:
        <ul class="bodyText">
            <li>A functional user-based cart and checkout system</li>
            <li>Role-based authorization: public storefront views for unauthenticated visitors, personalized storefront views for users with registered accounts, and site management 
                views for administrator accounts</li>
            <li>Machine learning product recommendations (based on purchase history for authenticated users, general purchase trends
                for unauthenticated visitors)
            </li>
            <li>Machine learning algorithmic fraud detection</li>
            <li>Third-party authentication (Google)</li>
            <li>Two-factor authentication</li>
            <li>Content-security-policy HTTP header to mitigate cyber attacks</li>
            <li>GDPR compliance with cookies notifications and privacy policy</li>
        </ul>
    </p>
    <br>
    <hr>
    <br>
    <h1 class="subHead"><a href="//provomentalhealth.org" class="link" style="color: black;">provomentalhealth.org</a></h1>
    <p class="subSub" style="clear: both;"><i>INTEX Fall 2023 Project</i></p>
    <br>
    <p class="bodyText">
        My first INTEX project was a solution to help a fictional committee at Provo City to analyze to correlations between social media
        usage and mental health.
        Over the course of four days, I and a team of 3 others spent about 70 hours each developing
        <a href="//provomentalhealth.org" class="link">provomentalhealth.org</a>. The web app is a tool for gathering and analyizing
        data regarding the relationship between social media usage and mental health.
    </p>
    <br>
    <hr>
    <br><br>
</div>
</body>
</html>