<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.cdnfonts.com/css/roughtypewriter-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cmu-typewriter-text" rel="stylesheet">
    <title>Resume</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <h2 id="navMenuLabel" onclick="navToggle()">Menu</h2>
    <a href="/" id="navToHomeLabel">Home</a>
    <a href="/resume" id="navToResumeLabel">Resume</a>
    <a href="/portfolio" id="navToPortfolioLabel">Portfolio</a>
    <a href="/misc" id="navToMiscLabel">Misc.</a>
    <img src="assets/landingImgs/sun.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <br><br>
    <h1 class="heading">Zach Bagley</h1>
    <p class="bodyText">(385) 259 5380</p>
    <p class="bodyText">szachbagley@gmail.com</p>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Education</h1>
    <br>
    <h2 class="subSub">Master of Science, Information Systems -- Emphasis in Cybersecurity</h2>
    <p class="bodyText"><i>Brigham Young University - Marriot School of Business</i></p>
    <ul class="bodyText">
        <li>GPA 3.85 / 3.84 </li>
        <li>ACT 33, 98th percentile</li>
        <li>Association of Information Systems</li>
        <li><i>BYU Marriott School Dean’s List</i>, Winter 2023</li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Skills & Achievements</h1>
    <br>
        <ul class="bodyText">
            <li>
                Developed provomentalhealth.org and shopbrickwell.com--see <a href="https://zachbagley.net/portfolio"
                class="link">Portfolio</a> for more details
            </li>
            <li>
                Security skills including systems scanning and hardening with Nessus, NMAP; basic forensics; 
                analysis using NIDS (Suricata, Zeek); Blockchain, smart contracts; Kali and Ubuntu Linux
            </li>
            <li>
                Full-stack programming with ASP.NET Core MVC and Node.js
            </li>
            <li>
                TCP/IP networking, cloud computing (AWS – EC2, RDS, Elastic Beanstalk, ECS; Microsoft Azure)
            </li>
        </ul>
    <br>
    <h1 class="subHead">Experience</h1>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Application Developer</h2><p class="bodyText resumeDate">Apr 2024 - Present</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>BYU J. Reuben Clark Law School</i></p>
    <ul class="bodyText">
        <li>Full-stack development of law.byu.edu and cpcr.byu.edu with React front-end and Node.js back-end</li>
        <li>Managed AWS configurations, including VPC, ECS, RDS, etc.</li>
        <li>Configured and/or maintained computer workstations</li>
        <li>Worked with various content management systems; contributed to full transition from WordPress to Strapi</li>
    </ul>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">IT Specialist</h2><p class="bodyText resumeDate">Sep 2023 - Apr 2024</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>BYU Department of Continuing Education</i></p>
    <ul class="bodyText">
        <li>Managed system privileges, network configuration, data, etc. for DCE’s appx. 800 employees</li>
        <li>Troubleshot frequent technology issues for employees</li>
        <li>Configured and maintained computer workstations</li>
    </ul>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Team Leader - BYU On-Campus Intership</h2><p class="bodyText resumeDate">Sep 2022 - Dec 2022</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>Daily Hope Publishing</i></p>
    <ul class="bodyText">
        <li>Led a team of interns to redesign and restructure DHP’s online presence, including website and social media</li>
        <li>Gathered and cleaned data regarding online post engagement to support and adjust decisions</li>
        <li>Researched and implemented principles of SEO and other online marketing factors,
             pushing several posts to achieve over 10,000 engagements while steadily increasing engagements on all other posts by a factor of appx. 100%</li>
    </ul>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Marketing and Technology Coordinator</h2><p class="bodyText resumeDate">Sep 2022 - Dec 2022</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>NEO Home Loans</i></p>
    <ul class="bodyText">
        <li>Coordinated marketing strategies with NEO marketing team</li>
        <li>Managed social media accounts for 15 loan officers</li>
        <li>Created hundreds of informative graphics and videos using Adobe Creative Cloud</li>
        <li>Provided tech support for equipment and software used by loan officers and other employees</li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Leadership & Service</h1>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Volunteer Representative</h2><div class="resumeDate"><p class="bodyText">Kennewick, Washington</p><p class="bodyText">Jul 2019 - Jul 2021</p></div>
    </article>
    <p class="bodyText" style="clear: both;"><i>The Church of Jesus Christ of Latter-day Saints</i></p>
    <ul class="bodyText">
        <li>Served as a social media and technology specialist; led a team of seven other specialists in 
            gathering, cleaning, and presenting data to propose, implement, test, and adjust the Church’s 
            online efforts and presence in Washington</li>
        <li>Created and maintained a complex spreadsheet network to collect and analyze mission’s key 
            performance indicators</li>
        <li>Provided tech support to missionaries and leaders and frequently trained missionaries 
            on effective use of technology</li>
        <li>Served as a district leader for six months and zone leader for one year. Included administrating, 
            supporting, training, and collaborating with groups of 10-35 missionaries</li>
    </ul>
    <br>
    <hr>
    <br>
    
    <br><br>
</div>
</body>
</html>