<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <title>Document</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <img src="assets/landingImgs/sun.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <h1 class="heading">Zach Bagley</h1>
    <h2 class="subHead">BYU</h2>
    <p class="bodyText">Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text 
        Lots of test text Lots of test text Lots of test text Lots of test text Lots of test text 
    </p>
</div>
</body>
</html>