<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <link href="https://fonts.cdnfonts.com/css/roughtypewriter-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/cmu-typewriter-text" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div id="navMenu" class="hidden">
    <img src="assets/landingImgs/sun.png" id="MenuButton" onclick="navToggle()">
    <a href="/" id="navToHome"></a>
    <a href="resume" id="navToResume"></a>
    <a href="portfolio" id="navToPortfolio"></a>
    <a href="misc" id="navToMisc"></a>
</div>
<div class="pageBody">
    <br><br>
    <h1 class="heading">Zach Bagley</h1>
    <p class="bodyText">(385) 259 5380</p>
    <p class="bodyText">szachbagley@gmail.com</p>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Education</h1>
    <br>
    <h2 class="subSub">Bachelor of Science, Information Systems</h2>
    <p class="bodyText"><i>Brigham Young University - Marriot School of Business</i></p>
    <ul class="bodyText">
        <li>GPA 3.85 / 3.84 </li>
        <li>ACT 33, 98th percentile</li>
        <li>Association of Information Systems</li>
        <li><i>BYU Marriott School Dean’s List</i>, Winter 2023</li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Experience</h1>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Computer Specialist</h2><p class="bodyText resumeDate">Sep 2023 - Present</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>BYU Department of Continuing Education</i></p>
    <ul class="bodyText">
        <li>Troubleshot frequent technology issues for DCE’s appx. 800 employees</li>
        <li>Managed system privileges, contact data, etc. for all employees</li>
        <li>Configured and/or maintained computer workstations</li>
        <li>Developed solutions to optimize certain processes with simple programs</li>
    </ul>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Team Leader - BYU On-Campus Intership</h2><p class="bodyText resumeDate">Sep 2022 - Dec 2022</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>Daily Hope Publishing</i></p>
    <ul class="bodyText">
        <li>Led a team of interns to redesign and restructure DHP’s online presence, including website and social media</li>
        <li>Gathered and cleaned data regarding online post engagement to support and adjust decisions</li>
        <li>Researched and implemented principles of SEO and other online marketing factors,
             pushing several posts to achieve over 10,000 engagements while steadily increasing engagements on all other posts by an average of appx. 50</li>
    </ul>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Marketing and Technology Coordinator</h2><p class="bodyText resumeDate">Sep 2022 - Dec 2022</p>
    </article>
    <p class="bodyText" style="clear: both;"><i>NEO Home Loans</i></p>
    <ul class="bodyText">
        <li>Coordinated marketing strategies with NEO marketing team</li>
        <li>Managed social media accounts for 15 loan officers</li>
        <li>Created hundreds of informative graphics and videos using Adobe Creative Cloud</li>
        <li>Provided tech support for equipment and software used by loan officers and other employees</li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Leadership & Service</h1>
    <br>
    <article class="resumeJob">
        <h2 class="subSub" style="width: 50%; float: left;">Volunteer Representative</h2><div class="resumeDate"><p class="bodyText">Kennewick, Washington</p><p class="bodyText">Jul 2019 - Jul 2021</p></div>
    </article>
    <p class="bodyText" style="clear: both;"><i>The Church of Jesus Christ of Latter-day Saints</i></p>
    <ul class="bodyText">
        <li>Served as a social media and technology specialist; led a team of seven other specialists in 
            gathering, cleaning, and presenting data to propose, implement, test, and adjust the Church’s 
            online efforts and presence in Washington</li>
        <li>Created and maintained a complex spreadsheet network to collect and analyze mission’s key 
            performance indicators</li>
        <li>Provided tech support to missionaries and leaders and frequently trained missionaries 
            on effective use of technology</li>
        <li>Served as a district leader for six months and zone leader for one year. Included administrating, 
            supporting, training, and collaborating with groups of 10-35 missionaries</li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="subHead">Skills & Achievements</h1>
    <br>
    <ul class="bodyText">
        <li>Proficient in JavaScript, Python, C#, familiar with C++, Java</li>
        <li>Full-stack programming with ASP.NET Core MVC and Node.js</li>
        <li>Proficient in web development with HTML, CSS, and JavaScript </li>
        <li>Experience with Tableau, TCP/IP networking, cloud computing 
            (AWS – EC2, RDS, Elastic Beanstalk), file management with Linux, Mac, and Windows terminals</li>
        <li>Understanding of cybersecurity, including encryption and decryption</li>
        <li> Developed <a href="//provomentalhealth.org" class="link">provomentalhealth.org</a></li>
        <li>See more in <a href="portfolio" class="link">portfolio</a></li>
    <br>
    <br><br>
</div>
</body>
</html>