@keyframes centerFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes letterboxdExpand {
    0% { transform: translateY(0vw); }
    100% { transform: translateY(17.5vw); }
}
@keyframes letterboxdCircle {
0% { transform: rotate(0deg) translateY(17.5vw) rotate(0deg); }
100% { transform: rotate(360deg) translateY(17.5vw) rotate(-360deg); }
}

@keyframes resumeExpand {
    0% { transform: translateY(0vw); }
    100% { transform: translateY(-17.5vw); }
}
@keyframes resumeCircle {
0% { transform: rotate(0deg) translateY(-17.5vw) rotate(0deg); }
100% { transform: rotate(360deg) translateY(-17.5vw) rotate(-360deg); }
}

@keyframes instagramExpand {
    0% { transform: translateX(0vw); }
    100% { transform: translateX(-17.5vw); }
}
@keyframes instagramCircle {
0% { transform: rotate(0deg) translateX(-17.5vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(-17.5vw) rotate(-360deg); }
}

@keyframes linkedinExpand {
    0% { transform: translateX(0vw); }
    100% { transform: translateX(17.5vw); }
}
@keyframes linkedinCircle {
0% { transform: rotate(0deg) translateX(17.5vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(17.5vw) rotate(-360deg); }
}

@keyframes portfolioExpand {
    0% { transform: translateX(0vw) translateY(0vw); }
    100% { transform: translateX(-12.3744vw) translateY(-12.3744vw); }
}
@keyframes portfolioCircle {
0% { transform: rotate(0deg) translateX(-12.3744vw) translateY(-12.3744vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(-12.3744vw) translateY(-12.3744vw) rotate(-360deg); }
}

@keyframes miscExpand {
    0% { transform: translateX(0vw) translateY(0vw); }
    100% { transform: translateX(12.3744vw) translateY(-12.3744vw); }
}
@keyframes miscCircle {
0% { transform: rotate(0deg) translateX(12.3744vw) translateY(-12.3744vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(12.3744vw) translateY(-12.3744vw) rotate(-360deg); }
}

@keyframes facebookExpand {
    0% { transform: translateX(0vw) translateY(0vw); }
    100% { transform: translateX(-12.3744vw) translateY(12.3744vw); }
}
@keyframes facebookCircle {
0% { transform: rotate(0deg) translateX(-12.3744vw) translateY(12.3744vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(-12.3744vw) translateY(12.3744vw) rotate(-360deg); }
}

@keyframes handshakeExpand {
    0% { transform: translateX(0vw) translateY(0vw); }
    100% { transform: translateX(12.3744vw) translateY(12.3744vw); }
}
@keyframes handshakeCircle {
0% { transform: rotate(0deg) translateX(12.3744vw) translateY(12.3744vw) rotate(0deg); }
100% { transform: rotate(360deg) translateX(12.3744vw) translateY(12.3744vw) rotate(-360deg); }
}

body {
    background-color: #FBEFCA;
}

.pageBody{
    position: absolute;
    width: 50vw;
    left: 25vw;
  }

.heading {
    font-family: 'RoughTypewriter', sans-serif;   
    font-size: 48px;  
    padding: 0%;
    margin: 0%;                            
}

.subHead {
    font-family: 'RoughTypewriter', sans-serif;  
    font-size: 32px;  
    padding: 0%;
    margin: 0%;                             
}

.subSub {
    font-family: 'CMU Typewriter Text', sans-serif;
    font-size: 24px;
    padding: 0%;
    margin: 0%;
}

.bodyText {
    font-family: 'CMU Typewriter Text', sans-serif;
    font-size: 16px;

    margin: 0%;
}

hr {
    border: none;
    height: 1px;
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
    padding: 0%;
    margin: 0%;
}

.link {
    text-decoration: none;
    color: gray;
}

/* classes for home page */

#letterboxdSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/letterboxdSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: letterboxdExpand 2s ease-in-out, letterboxdCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#resumeSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/resumeSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: resumeExpand 2s ease-in-out, resumeCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#instagramSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/instagramSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: instagramExpand 2s ease-in-out, instagramCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#linkedinSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/linkedinSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: linkedinExpand 2s ease-in-out, linkedinCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#portfolioSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/portfolioSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: portfolioExpand 2s ease-in-out, portfolioCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#miscSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/miscSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: miscExpand 2s ease-in-out, miscCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#facebookSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/facebookSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: facebookExpand 2s ease-in-out, facebookCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#handshakeSmall {
    transition: 1s ease-in-out;
    width: 5vw;
    height: 5vw;
    background-image: url(assets/landingImgs/handshakeSmall.png);
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -2.5vw; /* Half the height */
    margin-left: -2.5vw; /* Half the width */
    border-radius: 50%;
    animation: handshakeExpand 2s ease-in-out, handshakeCircle 60s infinite linear; /* Adjust time as needed */
    animation-delay: 0s, 2s;
    z-index: 1;
    }

#center {
    transition: 1s ease-in-out;
    width: 30vw;
    height: 30vw;
    background-image: url(assets/landingImgs/center.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 50vw;
    border-radius: 50%;
    border-color: black;
    border: 10px;
    border-width: 10px;
    transform: translate(-50%, -50%);
}

#centerImg {
    transition: 1s ease-in-out;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 50%;
    left: 50.17%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: centerFadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#centerText {
    transition: 1s ease-in-out;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#solomon {
    transition: 1s ease-in-out;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 15vw;
    z-index: 0;
}

#wolfgang {
    transition: 1s ease-in-out;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40vh;
    left: 3vw;
    z-index: 0;
}

#ether {
    transition: 1s ease-in-out;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    right: 15vw;
    z-index: 0;
}

#gordon {
    transition: 1s ease-in-out;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40vh;
    right: 3vw;
    z-index: 0;
}

#navMenu {
    position: fixed;
    left: 15vw;
    top: 5vh;
    height: 100vh;
}
#MenuButton {
    height: 15vh;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#navToHome {
    transition: 0.75s ease-in-out;
}

#navToResume {
    transition: 0.75s ease-in-out;
}

#navToPortfolio {
    transition: 0.75s ease-in-out;
}

#navToMisc {
    transition: 0.75s ease-in-out;
}

#navMenu.visible #navToHome {
    background-image: url(assets/landingImgs/homeSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 20vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
}

#navMenu.visible #navToResume {
    background-image: url(assets/landingImgs/resumeSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 35vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;

}

#navMenu.visible #navToPortfolio {
    background-image: url(assets/landingImgs/portfolioSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 50vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;

}

#navMenu.visible #navToMisc {
    background-image: url(assets/landingImgs/miscSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 65vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
}

#navMenu.hidden #navToHome {
    background-image: url(assets/landingImgs/homeSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
    opacity: 0;
}

#navMenu.hidden #navToResume {
    background-image: url(assets/landingImgs/resumeSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
    opacity: 0;
}

#navMenu.hidden #navToPortfolio {
    background-image: url(assets/landingImgs/portfolioSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
    opacity: 0;
}

#navMenu.hidden #navToMisc {
    background-image: url(assets/landingImgs/miscSmall.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;  
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
    opacity: 0;
}

.resumeDate {
    text-align: right; 
    width: 50%; 
    float: right;
}

.resumeJob {
    width: 100%; 
    display: flex; 
    align-items: center;
}